<ul id="myRARides" class="collapse">
        
    <div  id="myRARides" class="card" *ngFor="let ride of rides ">
       
      <div class="row">
  
        <div class="col">
  
      <div class="media border p-3">
        <img src="https://cdn1.imggmi.com/uploads/2019/1/13/f3b02c893e43969828ec74d341a2d69c-full.png"  class="mr-3 mt-3 rounded-circle" >
        <div class="media-body">
          <h4>Origin:<small><i>{{ride.origin}}</i></small></h4>
          <h4>Destination:<small><i>{{ride.destination}}</i></small></h4>
          <p>Data:<small><i>{{ride.data.day}}.{{ride.data.month}}.{{ride.data.year}}</i></small></p>
          <p>Time:<small><i>{{ride.time.hour}}:{{ride.time.minute}}</i></small></p>
          <p>Seats:<small><i>{{ride.seats}}</i></small></p>
  
         
        </div>
       
        <div class="col">
        <div>Stops:</div>
        <div *ngFor="let stop of ride.stops ">
        <p className="stops"><i>{{stop}}</i></p>      
        </div>
  
        </div>
      </div>
  
      </div>
    </div>
  </div>   
  </ul>
  