.row {
    margin: 15px;
}
.btn {
    margin-top: 7px;
}

/* #container{
    float: left; width: 25%;
    margin-top:10%;
    font-size:15px;
   
}
.inputs{
    margin-top:10px;
    width: calc(100% - 20px);
    margin-left:10px;
    font-size:13px;
    font-weight:bold;
}


.forButtons{
   margin-left:10px;
   float:left;
}
.btn{
   
    margin-top:5px;
    font-size:13px;
    font-weight:bold;
    float:left;
    text-align: center;
}
.btn-light
{
    margin-left:10px;
    margin-top:15px;
    float:center;
}
#lower{
    margin-top:10px;
}
.forButtonsDonji{
    float:left;
}
 */
